#player {
    left:10px;
    top: 50vh;
}



#enemy0 {
    left: 100px;
}

#enemy1 {
    left:150px;
    top:300px;
}

#enemy2 {
    left:200px;
    top:375px;
}

#enemy3 {
    left:40vh;
    top:50%;
}

#enemy4 {
    left:250px;
    top:550px;
}
#enemy5 {
    left:85vh;
}
#enemy6 {
    left:45vh;
    top:50%;
}


#goal0{
    left:65vh;
}

#goal1 {
    left:65vh;
    top:70vh;
}
#goal2 {
    left:5vh;
    top:5vh;
}


#wall0 {
    left:280px;
}

#wall1 {
    left:400px;
    height: 48.5vh;
    top: 50vh;
}

#wall2 {
    left:400px;
    height:40vh;
    top:0vh;
}

#wall3 {
    top:30vh;
    width:280px;
}

#wall4 {
    top:60vh;
    left:52vh;
    width:30vh;
}



/* v BORDERING WALL PLACEMENT - DON'T CHANGE 
THESE NEGATIVE TOP/LEFT/RIGHT VALUES IN BORDERING WALLS ARE FOR A REASON! - SO THAT THE PLAYER DOESN'T STICK TO WALLS + SO THEY DON'T EXTEND THE SITE */

#wallBottom {
    top:99vh;
    width: 99.5vw;
    height:0.01vh;
    left:0vw;
    visibility: hidden;
}
#wallTop {
    top:-1vh; 
    width:99.5vw;
    height: 0.01vh;
    visibility: hidden;
}
#wallLeft {
    top:0px;
    left:-0.5vw;
    height: 99.9vh;
    width: 0.01vw;
    visibility: hidden;
}
#wallRight {
    top:0px;
    right:0.5vw;
    height: 99vh;
    width: 0.01vw;
    visibility: hidden;
}

/* ^ BORDERING WALL PLACEMENT - DON'T CHANGE */