#player {
    left:1vh;
    top: 90vh;
}



#enemy0 {
    left: 12vw;
}

#enemy1 {
    left:18vw;
    top:30vh;
}

#enemy2 {
    left:25vw;
    top:37vh;
}

#enemy3 {
    left:39vw;
    top:50%;
}

#enemy4 {
    left:30vw;
    top:44vh;
}
#enemy5 {
    left:92vw;
}
#enemy6 {
    left:45vw;
    top:50%;
}


#goal0{
    left:60vw;
    top:25vh;
}

#goal1 {
    left:60vw;
    top:70vh;
}
#goal2 {
    left:5vw;
    top:5vh;
}


#wall0 {
    left:36vw;
    top: 30vh;
}

#wall1 {
    left:50vw;
    height: 48.5vh;
    top: 50vh;
}

#wall2 {
    left:50vw;
    height:40vh;
    top:0vh;
}

#wall3 {
    top:30vh;
    left:0vh;
    width:36vw;
}

#wall4 {
    top:60vh;
    left:50vw;
    width:35vw;
}



/* v BORDERING WALL PLACEMENT - DON'T CHANGE 
THESE NEGATIVE TOP/LEFT/RIGHT VALUES IN BORDERING WALLS ARE FOR A REASON! - SO THAT THE PLAYER DOESN'T STICK TO WALLS + SO THEY DON'T EXTEND THE SITE */

#wallBottom {
    top:99vh;
    width: 99.5vw;
    height:0.01vh;
    left:0vw;
    visibility: hidden;
}
#wallTop {
    top:-1vh; 
    width:99.5vw;
    height: 0.01vh;
    visibility: hidden;
}
#wallLeft {
    top:0px;
    left:-0.5vw;
    height: 99.9vh;
    width: 0.01vw;
    visibility: hidden;
}
#wallRight {
    top:0px;
    right:0.5vw;
    height: 99vh;
    width: 0.01vw;
    visibility: hidden;
}

/* ^ BORDERING WALL PLACEMENT - DON'T CHANGE */