* {
    font-family: "Raleway", monospace;
    text-align: center;
}
body {
    background-color: black;
}
#title {
    text-align: center;
    font-size: 4.5em;
    color: white;
    text-shadow: 0 0 4px beige;
}
#startGame {
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 4px beige;
    border-width: 0px;
    margin-bottom:20px;
}
#startGame:hover {
    box-shadow:0 0 7px beige;

}
@keyframes buttonHover {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97);
    }
}
@keyframes pulsingclick {
    0% {
        transform: scale(0.97);
        box-shadow:0 0 7px beige;
    }
    15% {
        transform: scale(1);
        box-shadow:0 0 10px beige;
    }
    90% {
        transform:scale(0.97);
        box-shadow: 0 0 7px beige;
    }
    100% {
        transform:scale(1);
        box-shadow: 0 0 7px beige;
    }
}
.pulsingClick {
    animation-name: pulsingclick;
    animation-duration: 2s;
}
#player {
    background-color: blue;
    font-family: 'Comic Sans MS';
    color: white;
    width: 1.7em;
    height: 1.7em;
    left:10px;
    
    border: 0.3em solid white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
}

.enemy {
    background-color: red;
    font-family: 'Comic Sans MS';
    color: white;
    width: 1.7em;
    height: 1.7em;
    left:10px;
    
    border: 0.3em solid white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;

    left: 100px;
}