* {
    font-family: "Raleway", monospace;
    text-align: center;
    cursor:crosshair;
}

body {
    background-color: black;
}

#title {
    text-align: center;
    font-size: 4.5em;
    color: white;
    text-shadow: 0 0 4px beige;
}

#completionTime {
    color:white;
    text-shadow: 0 0 4px white;
    font-size: 1.25em;
}

#credits{
    max-width: fit-content;
    margin-inline: auto;
    font-size: 1.15em;
    color:white;
}
#filip {
    font-family: "Comic Sans MS";
    font-weight:600;
}
#krzysztof {
    font-family: "Quicksand", sans-serif;
    font-weight:600;
}

#startGame {
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 4px beige;
    border-width: 0px;
    margin-bottom:20px;
}

#startGame:hover {
    box-shadow:0 0 7px beige;
}

#statsDiv{
    color: #bebebe;
    text-shadow: 0 0 4px #d3d3d3;
    scale: 500%;

    opacity:0%;
}

#timeDisplay {
    scale: 60%;
}

@keyframes buttonHover {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97);
    }
}

@keyframes pulsingClick {
    0% {
        transform: scale(0.97);
        box-shadow:0 0 7px beige;
    }
    15% {
        transform: scale(1);
        box-shadow:0 0 10px beige;
    }
    90% {
        transform:scale(0.97);
        box-shadow: 0 0 7px beige;
    }
    100% {
        transform:scale(1);
        box-shadow: 0 0 7px beige;
    }
}

@keyframes lowTaperFade {
    0% {
        opacity: 0%;
    }
    50% {
        opacity:50%;
    }
    100% {
        opacity:100%;
    }
}

@keyframes win {
    0% {
        transform: scale(1);
        box-shadow:0 0 0px beige;
    }
    50%{
        transform: scale(1.5);
        box-shadow:0 0 7px beige;
    }
    90% {
        transform: scale(2);
        box-shadow: 0 0 10px beige;
    }
    100% {
        transform: scale(0);
        box-shadow: 0 0 7px beige;
    }
}

.pulsingClick {
    animation: pulsingclick 2s;
}

.playerMove {
    animation: pulsingclick 0.1s;
}

.win {
    animation: win 1s;
}

.actors {
    font-family: 'Comic Sans MS';
    width: 1.7em;
    height: 1.7em;

    border: 0.3em solid white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    opacity:0%;
}

#player {
    background-color: blue;
    color: white;
}

.enemy {
    background-color: red;
    color: white;
}

.goal {
    background-color: yellow;
    color: black;
}

.vertical {
    height: 50vh;
    background-color: white;
    width:1px;
    border-radius: 5px;
}

.horizontal {
    height: 1px;
    background-color: white;
    width:50vh;
    border-radius: 5px;
}

.hidden{
    visibility: hidden;
}