* {
    font-family: "Raleway", monospace;
    text-align: center;
}

body {
    background-color: black;
}

#title {
    text-align: center;
    font-size: 4.5em;
    color: white;
    text-shadow: 0 0 4px beige;
}

#startGame {
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 4px beige;
    border-width: 0px;
    margin-bottom:20px;
}

#stuckText {
    text-align: center;
    font-size: 2em;
    color:white;
    
    
    
}

#startGame:hover {
    box-shadow:0 0 7px beige;

}

@keyframes buttonHover {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97);
    }
}

@keyframes pulsingclick {
    0% {
        transform: scale(0.97);
        box-shadow:0 0 7px beige;
    }
    15% {
        transform: scale(1);
        box-shadow:0 0 10px beige;
    }
    90% {
        transform:scale(0.97);
        box-shadow: 0 0 7px beige;
    }
    100% {
        transform:scale(1);
        box-shadow: 0 0 7px beige;
    }
}

@keyframes win {
    0% {
        transform: scale(1);
        box-shadow:0 0 0px beige;
    }
    50%{
        transform: scale(1.5);
        box-shadow:0 0 7px beige;
    }
    90% {
        transform: scale(2);
        box-shadow: 0 0 10px beige;
    }
    100% {
        transform: scale(0);
        box-shadow: 0 0 7px beige;
    }
}
@keyframes stuck {
    0% {
        color:white;
    }
 
    50% {
        color:red;
    }

    100% {
        color:white;
    }
}
@keyframes stuckExperiment {
    0% {
        background-color:black;
    }
 
    50% {
        background-color:red;
    }

    100% {
        background-color:black;
    }
}
.pulsingClick {
    animation-name: pulsingclick;
    animation-duration: 2s;
}

.playerMove {
    animation: pulsingclick;
    animation-duration: 0.1s;
}

.win {
    animation-name: win;
    animation-duration: 1s;
}

.stuck {
    animation-name: stuck;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
}
.stuckExperiment {
    animation-name: stuckExperiment;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
}

.actors {
    font-family: 'Comic Sans MS';
    width: 1.7em;
    height: 1.7em;

    border: 0.3em solid white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#player {
    background-color: blue;
    color: white;
}




.enemy {
    background-color: red;
    color: white;

    left: 100px;
}

.goal {
    background-color: yellow;
    color: black;

    left:500px;
}

.hidden{
    visibility: hidden;
}

.wall {
    height: 50vh;
    background-color: white;
    width:1px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}
#wall0 {
    left:280px;
}
#wall1 {
    left:400px;
    height: 50vh;
    top: 50vh;
}
#wall2 {
    left:400px;
    height:40vh;
    top:0vh;
}